@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@1,800&family=Mooli&family=Oswald:wght@500&family=Prompt:wght@500&family=Signika+Negative:wght@500&display=swap');

:root {
    --main-bg-color: rgb(50, 52, 55);
    --main-text-color: rgb(231, 183, 55);
    --main-text-color-2: rgb(100, 102, 105);
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    width: 100%;
    max-width: 400px;
    padding: 1rem;
}

body {
    background-color: var(--main-bg-color);
    font-family: 'Prompt', sans-serif;
    margin: 0;
    min-height: 100vh;
    padding-bottom: 0px;
}

a {
    text-decoration: none;
    color: var(--main-text-color-2);
    display: flex;
    justify-content: center;
    align-items: center;
}

a:hover {
    color: white;
}

.material-symbols-outlined {
    font-size: 1.5rem;
    margin-right: 0.5rem;
    transition: ease-in-out 0.2s;
}

a .material-symbols-outlined:hover {
    color: white;
    transition: ease-in-out 0.2s;
}

li {
    list-style-type: none;
}

.active {
    color: white;
}

nav {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0;
    max-width: 1200px;
}

.nav-container {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1rem 1rem;
    margin: 0;
}

.nav-element {
    margin-right: 1rem;
}

.logo {
    color: var(--main-text-color);
    font-size: 1.5rem;
}

.container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.tools-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 85%;
    background-color: rgb(44, 46, 49);
    color: var(--main-text-color-2);
    padding: 0;
    max-width: 600px;
    border-radius: 10px;
}

.tools-element {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.25rem 0.25rem;
    margin: 0;
}

.tools-text {
    font-size: 1rem;
    transition: ease-in-out 0.2s;
    margin: 0;
}

.tools-text:hover {
    color: white;
    transition: ease-in-out 0.2s;
    cursor: pointer;
}

.test-container {
    background-color: black;
    margin-top: 1rem;
}

.timer {
    font-size: 1.5rem;
    color: var(--main-text-color);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: end;
    justify-content: start;
    width: 75%;
    max-width: 850px;
    margin-bottom: -150px;
}
  
.wordsInput {
    border: none;
    cursor: default;
    display: block;
    margin: 0 auto;
    opacity: 1;
    outline: none;
    padding: 0;
    resize: none;
    z-index: -1;
    pointer-events: none;
    position: absolute;
}

.words-wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0;
    margin-top: 100px;
    padding: 0;
    width: 75%;
    max-width: 850px;
    height: 100%;
    background-color: var(--main-bg-color);
    flex-wrap: wrap;
    cursor: none;
}

word {
    display: flex;
    justify-content: start;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 8px;
    padding: 0;
    width: relative;
    height: 100%;
    color: var(--main-text-color-2);
    transition: ease-in-out 0.2s;
}

word:hover {
    cursor: none;
}

.letter {
    transition: color 0.2s;
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    margin-top: 5rem;
    width: 100%;
    max-width: 400px;
    padding: 1rem;
}

.auth-title {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
    color: beige;
}

.auth-input {
    margin-bottom: 0.7rem;
    border:none;
    padding: 1rem;
    height: max-content;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    width: 90%;
    background-color: rgb(44, 46, 49);
    color: beige;
}

.auth-input::placeholder {
    color: var(--main-text-color-2);
}

.auth-input:focus {
    border: 1px solid beige;
}

.auth-button {
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    width: 100%;
    background-color: rgb(44, 46, 49);
    color: var(--main-text-color-2);
    transition: ease-in-out 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-button:hover {
    cursor: pointer;
    background-color: beige;
    transition: ease-in-out 0.2s;
    color: black;
}

.error-container {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 90%;
}

.error {
    color: red;
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
    margin-bottom: 0.5rem;
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 85%;
    background-color: rgb(44, 46, 49);
    color: var(--main-text-color-2);
    padding: 30px 29px;
    max-width: 400px;
    margin: 0;
    border-radius: 10px;
    height: 180px;
}

.content-container:first-child {
    border-right: 5px dashed var(--main-bg-color);;
    border-radius: 10px 0px 0px 10px;
}

.content-container:nth-child(2) {
    border-radius: 0px 0px 0px 0px;
    max-width: 350px;
    height: 180px;
}

.profile-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0;
    padding: 0;
}

.profile-name-container{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin: 0px 10px;
}

.text-main {
    color: beige;
    margin: 0;
}

.text-secondary {
    color: var(--main-text-color2);
    margin: 0;
    font-size: 0.8rem;
}

.lvl-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;;
    padding: 0;
    max-width: 350px;
}

.xpBar {
    width: 100%;
    height: 10px;
    min-width: 200px;
    background-color: var(--main-text-color-2);
    border-radius: 10px;
    margin: 10px;
    padding: 0;
    margin-top: 10px;
}

.bar {
    height: 100%;
    background-color: var(--main-text-color);
    border-radius: 10px;
    transition: ease-in-out 0.2s;
}

.profile-bts-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50px;
    margin: 0;
    padding: 0;
}

.side-button {
    background-color: rgb(44, 46, 49);
    border: none;
    width: 100%;
    height: 120px;
    transition: ease-in-out 0.2s;
}

.side-button:hover {
    cursor: pointer;
    background-color: beige;
    transition: ease-in-out 0.2s;
}

.side-button:nth-child(1) {
    border-radius: 0px 10px 0px 0px;
}

.side-button:nth-child(2) {
    border-radius: 0px 0px 10px 0px;
}

.profile-container {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: 85%;
    background-color: rgb(44, 46, 49);
    color: var(--main-text-color-2);
    padding: 30px 29px;
    max-width: 400px;
    margin: 0;
    margin-top: 1rem;
    border-radius: 10px;
    height: 180px;
}

.profile-container:first-child {
    border-right: 5px dashed var(--main-bg-color);;
    border-radius: 10px 0px 0px 10px;
}

.profile-container:nth-child(2) {
    border-radius: 0px 10px 10px 0px;
}