<nav>
    <div class="main-nav-container">
        <ul class="nav-container">
            <li class="nav-element"><a href="/" class="logo">Doggie Type</a></li>
            <li class="nav-element"><a href="/"><span class="material-symbols-outlined">keyboard</span></a></li>
            <li class="nav-element"><a href="#"><span class="material-symbols-outlined">stars</span></a></li>
            <li class="nav-element"><a href="/about"><span class="material-symbols-outlined">question_mark</span></a></li>
            <li class="nav-element"><a href="/settings"><span class="material-symbols-outlined">settings</span></a></li>
        </ul>
        {% if current_user.is_authenticated %}
        <ul class="nav-container">
            <li class="nav-element"><a href="/profile"><span class="material-symbols-outlined">person</span>Kibooto</a></li>
            <li class="nav-element"><a href="#"><span class="material-symbols-outlined">notifications</span></a></li>
            <li class="nav-element"><a href="/logout"><span class="material-symbols-outlined">logout</span></a></li>
        </ul>
        {% else %}
        <ul class="nav-container">
            <li class="nav-element"><a href="#"><span class="material-symbols-outlined">notifications</span></a></li>
            <li class="nav-element"><a href="/auth"><span class="material-symbols-outlined">account_circle</span></a></li>
        </ul>
        {% endif %}
    </div>
</nav>